.page-footer{
  background-color: #2dbf28;
}

.social-network{
  list-style: none;
  padding: 0;
}

.social-network > li{
  display: inline;
  padding: 5px;
  margin:0;
  font-size: 35px;
}

.icoFacebook, .icoInstagram, .icoLinkedin, 
.icoWhatsapp , .icoSlack, .icoTelegram, .icoTwitter{

  color: rgb(12, 11, 11);
  
}

.icoFacebook:hover{
  color: #3b5998;
}

.icoInstagram:hover{
  color: #c13584;
}

.icoLinkedin:hover{
  color: #0072b1;
}
.icoWhatsapp:hover{
  color: #1db136;
} 
.icoSlack:hover{
  color: #0072b1;
} .icoTelegram:hover{
  color: #0072b1;
} 
.icoTwitter:hover{
  color: #0072b1;
}