<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <h4 class="text-black">E-mail</h4>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <h4 class="text-black">Telefone</h4>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <h4 class="text-black">nossas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <h5 class="text-black">edups.ww.com@hotmail.com</h5>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <h4 class="text-black">(19) 9 8412-8802</h4>
      </div>

      <div class="col-md-4 d-flex justify-content-center">
        <ul class="social-network">
          <li><a href="#" class="icoSlack" title="Slack">
              <fa-icon [icon]="faSlack"></fa-icon>
            </a></li>
          <li><a href="#" class="icoInstagram" title="Instagram">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a></li>
          <li><a href="#" class="icoTelegram" title="Telegram">
              <fa-icon [icon]="faTelegram"></fa-icon>
            </a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a></li>
            <li><a href="#" class="icoWhatsapp " title="Whatsapp ">
              <fa-icon [icon]="faWhatsapp"></fa-icon>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-footer text-center py-3 ">
    <span class="text-black"> &copy; 2021 Copyright: Eduardo Paim Silva, Kelly Saavedra, Renan, Eduardo </span>
  </div>
</footer>

********************************
